* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(189, 135, 94);
}
a:hover {
    text-decoration: none;
    
    color: rgb(0, 0, 0)
}

a:visited {
    text-decoration: none;
  
    color:rgb(0, 0, 0);
}
a {
    text-decoration: none;
    
    color:rgb(0, 0, 0)
}
.topnav{
    width: 100%;
    background-color: rgba(211, 211, 211, 0.75);
    justify-content: center;
    color:rgb(0, 0, 0);
    display: flex;
    gap: 2rem;
    font-size: clamp(1rem, 2vw, 4rem);
    
}

header {
    padding-bottom: 3rem;
    position: relative;
}
.header__img {
    width: 100%;
    display: block;
    height: auto;
    border-bottom: 5px solid rgb(106, 70, 15);
    border-top: 5px solid rgb(106, 70, 15);
}
.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: clamp(2rem, 3vw, 7rem);
    padding: 1rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(211, 211, 211, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: -7%;
}


.header__button{
    margin-top: -10%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 3rem;
    padding: 0.5rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(211, 211, 211, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.section__img {
    width: 100%;
    display: block;
    height: auto;
    border-bottom: 5px solid rgb(106, 70, 15);
    border-top: 5px solid rgb(106, 70, 15);
}
section {
    position:relative;
    padding-bottom: 3rem;
    
}
.section__title {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: clamp(2rem, 4vw, 7rem);
    padding: 0.5rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(211, 211, 211, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.section__button {
    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 3rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(211, 211, 211, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 2;
    padding: 0.5rem;
    
}

container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.aside__img {
    background: rgba(211, 211, 211, 0.75);
    padding: 4rem;
    width: 30vw;
    border-radius: 12px;
    
}

.aside__text {
    font-size: clamp(1rem, 2vw, 4rem);
    background-color: rgba(211, 211, 211, 0.75);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 3rem;
    color: rgb(0, 0, 0);
    width: 65vw;
    max-width: 1800px;
}


@media (max-width: 768px) {

container {
    grid-template-columns: 1fr;
}

.aside__img,
.aside__text {
    width: 100%;
    margin-bottom: 2rem;
}

.header__title{
    margin-top: -13%;
    font-size: 2rem;
}
.section__title {
    margin-top: -13%;
    font-size: 2rem;
    
}

.header__button{
    font-size: 1.2rem;
    margin-top: -10%;
}
.section__button {
    font-size: 1.2rem;
    margin-top: -7%;
}

.topnav {
    gap: 1rem;
}

}
footer{
    width: 100%;
    background-color: rgba(211, 211, 211, 0.75);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    font-size: 2rem;
    justify-content: center;
    color:rgb(0, 0, 0);
    gap: 10rem;
    display: flex;
    
}